.order-informations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-informations-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 40px;
  margin: 0px;
  width: 640px;
  height: 64px;
}

.order-number {
  padding-top: 16px;
  margin: 0px;
}


.order-burger-name {
  padding-top: 16px;
  margin: 0px;
}


.order-state {
  padding-top: 16px;
  margin: 0px;
}


.order-burger-compound-text {
  padding-top: 16px;
  margin: 0px;
}

.order-date {
  padding-top: 16px;
  margin: 0px;
}

.order-total {
  padding-top: 16px;
  margin: 0px;
}


.order-information-img {
  width: 480PX;
  height: 240PX;
  padding-top: 0px;
  margin: 0px;
}

.order-burger-compound {
  padding-right: 20px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.order-footer {
  top: 0px;
  padding-right: 20px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.order-total-container {
  top: 0px;
  padding-right: 20px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}