.order-details {
  max-height: calc(min(720px, 100vh - 88px));
  max-width: 640px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.order-details-img {
  width: 120px;
  height: 120px;
  padding-top: 60px;
  margin: 0px;
}
.order-details-number {
  padding-top: 120px;
  margin: 0px;
}
.order-details-identificator {
  padding-top: 32px;
  margin: 0px;
}
.order-details-text1 {
  padding-top: 60px;
  margin: 0px;
}

.order-details-text2 {
  top: 8px;
  padding-top: 8px;
  margin: 0px;
  padding-bottom: 120px;
}
