.app {
  background-color:black;
  position: relative;
  width: 1920px;
  height: 1000px;

}
.header {
  background-color: black;
  width: 1920px;
  height: 88px;

}
.main {
  background-color: black;
  width: 1920px;
  height: 1000px;
}

.main-span {
  background-color: black;
  width: 1920px;
  height: 88px;

}

.main-constructor-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1920px;
  height: 1000px;
}