.login-container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  height: 430px;

}
.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.second-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.bottom-container {

}