.page__content {
  margin: 0 auto;
  max-width: 1280px;
}

.main {
  width: 1280px;
  height: 1000px;
}


.profile-container {
  /*border: solid 3px red;*/
  width: 1280px;
  height: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.profile-menu-container {
  width: 300px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding-left: 320px;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bottom-text-container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 480px;
  padding-top: 30px;
  margin: 0px;
}

.sheet-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 640px;
  height: 900px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(133, 133, 173, 1) rgba(47, 47, 55, 1);
  overflow-x: hidden;
}

.orders-item {
  width: 95%;
  padding: 0px;
  margin: 0px;
}

.orders-text {
  padding: 0px;
  margin: 0px;
}