.register-container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.register-main-container {
  width: 480px;
  height: 478px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.register-first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.register-second-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.register-first-span {
}