.burger-constructor-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  gap: 10px;
  width: 600px;
  height: 732px;
  position: static;
  background-color: transparent;
  overflow: hidden;
  margin: 0px;
}

.burger-constructor-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 600px;
  height: 496px;
  position: relative;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
  scrollbar-width: thin;
  overflow-x: hidden;
  
}

.burger-constructor-list-component-top {
  margin: 0px;
  margin-right: 20px;
}

.burger-constructor-list-component-midle {
  margin: 0px;
  margin-right: 8px;;
}

.burger-constructor-list-component-bottom {
  margin: 0px;
  margin-right: 20px;
}