.burger-ingredients-list-component-item {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 240px;
  height: 220px;
}
.burger-ingredients-list-component-item-img {
  background-color: black;
}

.burger-ingredients-list-component-item-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  align-items: center;
}
.burger-ingredients-list-component-item-price-span {
  padding: 5px;
  background-color: black;
}
.burger-ingredients-list-component-item-counter {
  background-color: red;
}
