@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/input.css';

#modals {
  background-color: red;
}
body {
  background-color: black;
  
}


div::-webkit-scrollbar {
	width: 12px;
}
div::-webkit-scrollbar-track {
	background: #2F2F37;
}
div::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}
