.burger-constructor-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
  align-items: center;
  row-gap: 40px;
 
}

.burger-constructor-button {
  padding: 20px;
}

.burger-constructor-button-container-span {
  background-color: black;
  padding: 20px;
}